<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <div class="inner-container">
        <a class="btn" href="/new">New Message</a>
        <% for(let i = 0;i < messages.length;i++) {%>
        <div class="message" id="<%= messages[i]._id %>">
          <div class="details">
            <span><%= messages[i].user %></span>
            <span><%= messages[i].text %></span>
            <span><%= messages[i].added.toLocaleString() %></span>
          </div>
          <div class="btns">
            <a class="btn" href="/update/<%= messages[i]._id %>"
              >Update Message</a
            >
            <form
              action="/delete/<%= messages[i]._id %>?_method=DELETE"
              method="POST"
            >
              <button class="btn">Delete Message</button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
