<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">Add a Message!</a>
    <% for(let i = 0;i < messages.length;i++) {%>
    <div>
      <%= messages[i].user %> <%= messages[i].text %> <%=
      messages[i].added.toDateString() %>
    </div>
    <% } %>
  </body>
</html>
