<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <div class="inner-container">
        <%- include('./errorMessage.ejs') %>
        <form action="/update/<%= message._id%>?_method=PUT" method="POST">
          <label for="user"
            >User
            <input
              type="text"
              name="messageUser"
              class="flex-start"
              value="<%= message.user %>"
            />
          </label>
          <label for="message"
            >Message
            <textarea name="messageText"><%= message.text %></textarea>
          </label>
          <button class="btn flex-end update-btn" type="submit">Update</button>
        </form>
      </div>
    </div>
  </body>
</html>
